1) Дан следующий список: [1, 4, 2, 1, 4, 3, 2, 12, 8, 7, 12]. Найдите количество уникальных элементов в данном списке. Вставьте код с решением ниже.

In [2]:
len(set([1, 4, 2, 1, 4, 3, 2, 12, 8, 7, 12]))

7

Либо возьмем способ поадекватнее, чтобы было супер

In [5]:
our_list = [1, 4, 2, 1, 4, 3, 2, 12, 8, 7, 12]
unique_list = set(our_list)
print(f"count of unique list's elements: {len(unique_list)}")

count of unique list's elements: 7

2) Пользователь вводит строку, состоящую из слов. Сделайте из нее аббревиатуру и распечатайте. Используйте list comprehension. 
Input: "Полис обязательного медицинского страхования"
Output: "ПОМС"
Внимание! Строку должен вводить пользователь и она может быть любой. Важно, чтобы из этой строки получилась аббревиатура.

In [26]:
def abr(list_words):
    return reduce(lambda x, y: x + y, list(map(lambda x: x[0], words)))

In [36]:
from functools import reduce
words = input().upper().split()
abrev = abr(words)
print('Аббревиатура -', abrev)

 Полис обязательного медицинского страхования

Аббревиатура - ПОМС

Попробуем сделать то же самое только через **генераторы списков** (функции уже не будет)

In [51]:
words = input().split()
abrev = [word[0].upper() for word in words]
str_abrev = ''.join(abrev)
print('Аббревиатура -', str_abrev)

 Полис обязательного медицинского страхования

Аббревиатура - ПОМС

3) В файле «births-by-mothers-age.csv» лежит статистика возрастов рожениц. Ваша задача - дописать функцию (ниже), которая принимает два года, возрастную группу и сравнивает изменения в процентах между данными в указанные годы

def find_mothers_age_diff(year1: int, year2: int, age_group: str):

print(f'Разница в группе {age_group} составляет {}%. В {year1} процентное соотношение было {}% от общего количества, а в {year2} стало {}% от общего количества')

Вставьте код с решением ниже.

In [134]:
import pandas as pd
birth_df = pd.read_csv('births-by-mothers-age.csv', sep=';')
birth_df.head(20)

    Period  Mothers_Age  Count
0     2005     Under 15     36
1     2005        15–19   4098
2     2005        20–24   9708
3     2005        25–29  13797
4     2005        30–34  17976
5     2005        35–39  10029
6     2005        40–44   2001
7     2005  45 and over     93
8     2005        Total  57747
9     2006     Under 15     36
10    2006        15–19   4338
11    2006        20–24  10308
12    2006        25–29  14082
13    2006        30–34  17868
14    2006        35–39  10401
15    2006        40–44   2052
16    2006  45 and over    108
17    2006        Total  59193
18    2007     Under 15     51
19    2007        15–19   4902

In [228]:
def find_mothers_age_diff(year1, year2, age_group):
    birth_df = pd.read_csv('births-by-mothers-age.csv', sep=';')
    birth_year1 = birth_df.query('Period == @year1 and Mothers_Age == @age_group')
    print(birth_year1)
    count_age_group = int(birth_year1['Count'].iloc[0])
    count_total = int(birth_df.query('Period == @year1 and Mothers_Age == "Total"')['Count'].iloc[0])
    percent_group_one = np.round((count_age_group / count_total) * 100, 2)
    birth_year2 = birth_df.query('Period == @year2 and Mothers_Age == @age_group')
    count_age_group2 = int(birth_year2['Count'].iloc[0])
    count_total2 = int(birth_df.query('Period == @year2 and Mothers_Age == "Total"')['Count'].iloc[0])
    percent_group_two = np.round((count_age_group2 / count_total2) * 100, 2)
    return f'''Разница в группе {age_group} составляет {abs(np.round(percent_group_two - percent_group_one, 2))}%. В {year1} процентное соотношение было {percent_group_one}% от общего количества, а в {year2} стало {percent_group_two}% от общего количества'''

Хочется отметить момент, что знак разделения возрастов "-" в нашем датафрейме и в вводе с клавиатуры немного отличается. Поэтому заменим его, переведя строку сначала в массив и заменив этот элемент

In [230]:
import numpy as np
year1 = int(input())
year2 = int(input())
age_group = input()
list_age_group = list(age_group)
if list_age_group[2] == '-':
    list_age_group[2] = '–'
    age_group = ''.join(list_age_group)
stroka = find_mothers_age_diff(year1, year2, age_group)
print(stroka)

 2005
 2006
 20-24

   Period Mothers_Age  Count
2    2005       20–24   9708
Разница в группе 20–24 составляет 0.6%. В 2005 процентное соотношение было 16.81% от общего количества, а в 2006 стало 17.41% от общего количества

4) Напишите скрипт на Python или VBA, который будет разбивать данные из файла  «Тестовое задание ДКД МО ДЗМ (Аналитик).xlsx» по полю «Медицинская организация» и записывать данные по каждой поликлинике в отдельные Excel-файлы, именованные по названию медицинской организации. Вставьте код с решением ниже.

In [236]:
excel_df = pd.read_excel('test_task_four.xlsx')
excel_df.head(10)

,ID заболевания,Дата начала заболевания,Дата выздоровления,ID пациента,ДР,Пол,Тяжесть,Медицинская организация
0,141783700,2022-11-01,2022-11-14,121430796,2017-05-13,муж,Без симптомов,Поликлиника №2
1,141683060,2022-11-01,2022-11-14,65946638,1981-03-01,муж,Легкая степень тяжести,Поликлиника №1
2,141763920,2022-11-01,2022-11-14,110127394,2002-08-03,жен,Легкая степень тяжести,Поликлиника №4
3,141689580,2022-11-01,2022-11-14,96273380,2001-10-19,жен,Легкая степень тяжести,Поликлиника №5
4,141476780,2022-11-01,2022-11-08,124251147,1956-01-13,жен,Легкая степень тяжести,Поликлиника №5
5,141557540,2022-11-01,2022-11-07,52483199,1996-08-31,жен,Легкая степень тяжести,Поликлиника №1
6,141673380,2022-11-01,2022-11-14,81276779,1994-12-30,муж,Легкая степень тяжести,Поликлиника №5
7,141750520,2022-11-01,2022-11-07,122744199,2013-07-08,жен,Средняя степень тяжести,Поликлиника №4
8,141597540,2022-11-01,2022-11-08,124274573,2022-06-18,жен,Легкая степень тяжести,Поликлиника №5
9,141607640,2022-11-01,2022-11-14,6913934,2003-07-19,жен,Средняя степень тяжести,Поликлиника №4

In [270]:
from tqdm import tqdm
array_hospital = excel_df['Медицинская организация'].unique()
for hospital in tqdm(array_hospital):
    excel_df_hosp = excel_df.query('`Медицинская организация` == @hospital')
    excel_df_hosp.to_excel(f"{hospital}.xlsx", index=False, engine="openpyxl")
print('All files have already written succesfully!')

100%|█████████████████████████████████████████████| 5/5 [00:01<00:00,  3.38it/s]

All files have already written succesfully!